@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Christmas songs</h1>
    <p>Rating christmas songs</p>
    <a class="btn btn-danger" asp-area="" asp-page="/Songs/Index">Go to list</a>

</div>
